.product-image{
 width: 100%;
}

.spec-1{
 color: #938787;
 font-size: 15px;
}

.inStockBadge {
 background-color: rgb(22, 138, 22);
 position: absolute;
 width: auto; 
 height: fit-content
}

.backOrderedBadge {
 position: absolute;
 background-color: #777;
 width: auto; 
 height: fit-content;
}

.onOrderBadge {
 position: absolute;
 background-color: rgb(212, 176, 14);
 width: auto; 
 height: fit-content;
}

.orderButtons {
 margin-top: 85px;
}

.favIcon {
 display: flex;
 justify-content: flex-end;
}

.favBadge {
 position: absolute;
 margin-top: 4px;
 height: auto;
 width: auto;
}

.favBadge:hover {
 cursor: pointer;
}

.filterNav {
border: solid 1px rgb(222, 226, 230);
background-color: white;
}

.filterList {
 padding: 0 0 20px 70px;
}

.formCheckDivider {
 margin-left: 15px;
}

.filterCheckBox:hover{
 cursor: pointer;
}

.filterTitles {
 font-weight: 700;
 color: #dc3545;
}

.btn-toggle {
 background-color: none;
 border-style: none;
}

.camerasListText{
 font-size: 28px;
 font-weight: 700;
 color: #222;
 margin: 0;
}

@media (max-width: 1400px){
 .flex-row {
  flex-direction: column !important;
  margin: 0 90px 0 0;
 }
 .ms-1 {
  margin: -10px 35px 0 0;
 }
}

@media (max-width: 1199px) {
 .flex-row {
  margin: 0 55px 0 0;
 }
}

@media (max-width: 991px) {
 .mr-1 {
  margin-top: 2px;
  font-size: 18px;
 }
 .favBadge {
  width: 14px;
  margin-top: 5px;
 }
 .ms-1 {
  margin: -8px 19px 0 0;
  font-size: 14px;
 }
 .flex-row{
  margin: 0 30px 0 0;
 }
 .filterList {
  font-size: 80%
 }
}

@media (max-width: 767px) {
 .product-image{
  width: max-content;
 }
 .mr-1 {
  margin-top: 2px;
  font-size: 24px;
 }
 .favBadge {
  width: 20px;
 }
 .ms-1 {
  margin: 0 0 3px 0;
  font-size: 16px;
 }
 .flex-row{
  flex-direction: row !important;
  margin: 0 0 0 0;
 }
 .productCard{
  width: 340px;
 }
 .pageTitle {
  width: 340px;
 }
 .productContainer{
  display: grid;
  justify-content: center;
 }
}