.product_name{
 font-size: 20px;
 font-weight: 400;
 margin-top: 0px;
}

.product_price{
 font-size: 30px;
 font-weight: 500;
 margin-top: 9px;
}

.singleline{
 border: none;
}

.product_info{
 color: #4d4d4d;
 display: inline-block;
}

.shop-button{
 margin-top: 0px;
 height: 47px;
}

.image_selected{
 width: calc(100% + 15px);
 height: max-content;
 border: solid 1px #e8e8e8;
 padding: 1px;
 margin-right: 20px;
}

.image_list li{
 flex-direction: column;
 justify-content: center;
 align-items: center;
 height: 165px;
 border: solid 1px #e8e8e8;
 margin-bottom: 15px;
 cursor: pointer;
 padding: 15px;
 overflow: hidden;
}

.image_list li img{
 max-width: 100%;
}

.image_selected img{
 max-width: 100%;
}

div .card-title {
 font-size: 20px;
}

div .container {
 display: flex;
 justify-content: space-evenly;
 align-items: center;
}

.plus_sign {
 margin: 10px;
}

.beforeDiscount {
 text-decoration: line-through;
 color: #555;
}

.afterDiscount {
 color: #13ae4b;
}

h6{
 font-size: 20px;
 font-weight: medium;
}

#show_image_popup{
  position: absolute; /*  so that not take place   */
  top: 50%;
  left: 50%;
  z-index: 1000; /*  adobe all elements   */
  transform: translate(-50%, -50%); /*  make center   */
 
  display: none; /*  to hide first time   */
 }
 #show_image_popup img{
  max-width: 90%;
  height: auto;
 }
 
 .imageModal{
  min-width: 700px;
  height: 1000px;
 }

 @media (max-width: 1400px) {
  .buyTogether {
    gap: 20px;
  }
  .image_selected{
    padding: 5 10px 0 10px !important;
  }
  img[src="images/cameras/Nikon_Z9.avif"] {
    padding: 0 !important;
  }
  .cameraBackLi {
    padding: 5px !important;
    height: 140px !important;
  }
  .cameraFrontLi{
    padding: 5px !important;
    height: 140px !important;
  }
 }

 @media (max-width: 1200px) {
  .buyTogether {
    width: 834px;
  }
  .image_list {
    display: inline;
  }
  .image_selected{
    margin-top: 25px;
    padding: 5 10px 0 10px !important;
  }
  img[src="images/cameras/Nikon_Z9.avif"] {
    padding: 0 !important;
  }
  .cameraBackLi {
    padding: 5px !important;
    height: 140px !important;
  }
  .cameraFrontLi{
    padding: 5px !important;
    height: 140px !important;
  }
 }

 @media (max-width: 991px) {
  .buyTogether {
    flex-direction: column;
    margin: 20px 0 20px -30px;
  }
  .image_list {
    width: 80%;
    height: auto;
    padding: 0;
    margin-top: 25px;
    gap: 5px;
    flex-direction: column;
    display: flex;
    float: left;
    /* Div's switched places??? */
  }
  img[src="images/cameras/Nikon_Z9.avif"] {
    width: 350px !important;
  }
  .image_selected{
    width: max-content;
    float: right;
  }
  .mainCamera {
    width: max-content;
  }
  .cameraPreviewImages{
    width: 200px !important;
  }
 }

 @media (max-width: 576px) {
  .buyTogether {
    margin-left: -175px !important;
  }
 }