.gradient-custom {
  background: #6a11cb;
  
  background: -webkit-linear-gradient(to right, rgba(106, 17, 203, 1), rgba(37, 117, 252, 1));
  
  background: linear-gradient(to right, rgba(106, 17, 203, 1), rgba(37, 117, 252, 1))
  }

  body{
    background:#eee
  }

  .strike-text{
    color: red;
    text-decoration: line-through;
  }

  .product-image{
    width: 100%;
  }


  .spec-1{
    color: #938787;
    font-size: 15px;
  }

  h5{
    font-weight: 400;
  }

  .para{
    font-size: 16px;
  }

  div .container {
    padding-left: px;
  }

